.price{
    background-color: var(--color-white);
    min-height: 100vh;
    display: grid;
    grid-template: 
        72.2rem
        /31.1rem
    ;
    align-content: center;
    justify-content: center;

    &__container{
        box-shadow: 0 1.5rem 3rem 0 rgb(0, 81, 171, 0.1488);
        background-color: white;
        // margin: 2.4rem;
    }
    &__title{
        color: var(--color-cyan);
    }
}

