.subscription{
    background-color: var(--color-cyan);
    padding: 2.4rem;

    &__details{
        grid-area: subscription;
    }
    &__cost{
        margin: 1.8rem 0 .4rem 0;
        &--price{
            color: white;
            font-size: 3.2rem;
            font-weight: bold;
        }
        &--length{
            font-size: var(--body-size-bg);
            line-height: var(--body-line-bg);
            letter-spacing: var(--body-spacing-bg);
            opacity: 50%;
        }
    }
    &__btn{
        border: none;
        background-color: var(--color-yellow);
        color: white;
        padding: 1.5rem 10.2rem 1.4rem;
        border-radius: .5rem;
        margin-top: 2.6rem;
        font-weight: bold;
        font-size: 1.6rem;
        font-family: karla, sans-serif;
        letter-spacing: -0.02rem;
        box-shadow: 0 1rem 1rem rgb(0, 0, 0, 9.73%);
    }
}