.us{
    // have a white see through background
    display: grid;
    grid-template:
        "section" 1fr
        /1fr
    ;
    &::before{
        // see though white div
        content: "";
        grid-area: section;
        background-color: white;
        opacity: 15.19%;
    }
    &__container{
        grid-area: section;
    }
}